@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Chakra+Petch:wght@700&family=Roboto+Condensed&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-size: 16px;
  letter-spacing: 0.01rem;
  text-size-adjust: none;
}

/* for dark mode  */
:root {
  --background-color: #242142;
  --background-light-color: #f2f3f4;

  --sec-background-color: #302d58;
  --sec-background-light-color: #dfe6ee;

  --nav-list-dark-bg: #242161;
  --nav-list-light-bg: #c8d0d8;

  --font-color: #ededed;
  --font-dark-color: #3f3f3f;

  --sec-font-color: #A22E76;
  --sec-font-light-color: #ededed;

  --main-color: #EC6316;
  --sec-main-color: #A22E76;

  --language-bg-color: #f2f2f2;
  --language-bg-light-color : #dcdcdc;

  --footer-background-color: #142142;
  --footer-light-background-color: #c8d0d8;

}

#app {
  max-width: 1980px;
}

#app .v-application__wrap {
  background: var(--background-color);
  color: var(--font-color);
}


#app a {
  text-decoration: none;
  color: var(--font-color);
}

#app .section-header {
  background: linear-gradient(99deg,#EC6316 3%,#ff6600 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#app .primary-btn {
  background: transparent;
  border: 2px solid #EC6316;
  border-radius: 0px 18px 0 18px;
  color: var(--font-color);
  font-size: 15px;
  letter-spacing: 0.03rem;
  transition: .5s ease;
  font-weight: 550;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#app .primary-btn.fill {
  border: 2px solid #e25a00 !important;
  background: linear-gradient(99deg,#EC6316 3%,#c75b13 90%) !important;
  color: #ededed;
}

#app .primary-btn:hover {
  border: 2px solid #EC6316 !important;
  color: #ededed !important;
  transform: translateY(-5px);
}

#app .primary-btn::after {
  content: '';
  position: absolute;
  /* background: linear-gradient(99deg, #EC6316 3%, #ff6600 90%); */
  background: linear-gradient(99deg,#EC6316 3%,#ff6600 90%);
  z-index: -1;
  padding: 0.25em 0.5em;
  display: block;
  transition: all 0.5s;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
}

#app .primary-btn:hover::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .8s;
  transform: skewX(-45deg) scale(2, 1);
}

#app .icon {
  color: var(--main-color);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.prevent-pointer {
  pointer-events: none;
}

nav, nav .dropdown {
  padding: 5px 3%;
}

.content-wrapper {
  padding: 10px 15%;
}

.main-btn {
  color: var(--font-color) !important;
  overflow: hidden;
}


.main-btn:hover {
  background: var(--background-light-color);
  color: var(--sec-font-color);
}


/* ========================
    Mobile Menu Drawer
==========================*/
#drawer {
    width: 100% !important;
}


/* ========================
    Responsive
==========================*/
@media (max-width: 1825px) {
  .content-wrapper {
    padding: 10px 13%;
  }
}

@media (max-width: 1200px) {
  *{
    font-size: 15px;
  }
  .content-wrapper {
    padding: 10px 9%;
  }

  #app .primary-btn {
    font-size: 13px;
  }

  #app .section-header {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .content-wrapper {
    padding: 10px 3%;
  }

}




